@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.blinker {
  font-family: 'Blinker', sans-serif !important;
}
